<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restaurants</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    </head>
    <body style="font-family: 'Open Sans', sans-serif; font-weight: 300; padding: 10px 20px;">
        <h1>{{restaurant.name}}</h1>
        <form style="margin-bottom: 10px;" method="POST" action="{{url_for('new_menu_item', restaurant_id=restaurant.id)}}">
            <h2>Add menu item</h2>
            <input
                type="text"
                name="name"
                placeholder="Enter name"
                style="display: block;
                    width: 100%;
                    max-width: 500px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 3px;
                    border: 1px solid lightgray;"
            >
            <input
                type="text"
                name="price"
                placeholder="Enter price"
                style="display: block;
                    width: 100%;
                    max-width: 500px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 3px;
                    border: 1px solid lightgray;"
            >
            <textarea
                name="description"
                placeholder="Enter description"
                style="display: block;
                    width: 100%;
                    max-width: 500px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 3px;
                    border: 1px solid lightgray;"
            ></textarea>
            <button
                type="submit"
                style="font-size: 16px;
                    margin: 10px;
                    background-color: #0083a8;
                    padding: 5px 10px;
                    border: 0;
                    border-radius: 3px;
                    color: white;
                    font-weight: 300;"
            >Create</button>
        </form>
        <a style="color: #0083a8; margin: 5px; font-weight: 400;" href="{{url_for('restaurant_menu', restaurant_id=restaurant.id)}}">
            Cancel
        </a>
    </body>
</html>